/* AJUSTER TOUT LES BOUTONS */
.bouton{
  margin-top: 100px;
  margin-left: 400px;
  margin-bottom: 350px;
}


/* CSS SECTION COUNTER W3S */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(167, 67, 67, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}

.fa {
  font-size:50px;
}
/* FIN CSS SECTION COUNTER */



/* CSS BACKGROUND-IMAGE ON SCROLL */

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.bg-image {
  /* Full height */
  height: 50%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Images used */
.img1 { background-image: url("file:///home/dev/Documents/Workspace/Digital_design/Image/ciel_1.png"); }
.img2 { background-image: url("file:///home/dev/Documents/Workspace/Digital_design/Image/ciel.jpeg"); }
.img3 { background-image: url("file:///home/dev/Documents/Workspace/Digital_design/Image/cube.jpeg"); }
.img4 { background-image: url(""); }
.img5 { background-image: url("http://www.lefigaro.fr/voyages/2014/07/03/30003-20140703ARTFIG00282-au-coeur-de-la-vague.php#diapo_0_0"); }
.img6 { background-image: url("file:///home/dev/Documents/Workspace/Digital_design/Image/cocotier.jpeg"); }

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 1000px;
  padding: 100px;
  text-align: center;
}

/* CSS MENU DE GAUCHE-COLLAPSE SIDEBAR */
body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-right .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* FIN DU CSS MENU DE GAUCHE- COLLAPSE SIDBAR */